{% extends "base.html" %}
{% block title %}거래내역{% endblock %}
{% block content %}
<h2>거래내역</h2>
<table>
  <tr><th>일시</th><th>보낸사람</th><th>받은사람</th><th>금액</th><th>메모</th></tr>
  {% for t in txs %}
  <tr>
    <td>{{ t.created_at.strftime("%Y-%m-%d %H:%M") }}</td>
    <td>{{ t.sender.username }}</td>
    <td>{{ t.receiver.username }}</td>
    <td>{{ "{:,}".format(t.amount) }}원</td>
    <td>{{ t.memo }}</td>
  </tr>
  {% else %}
  <tr><td colspan="5">거래 내역이 없습니다.</td></tr>
  {% endfor %}
</table>
{% endblock %}
